.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-start;
  background: #f4f4f4;
  text-align: center;
}

header img {
  max-width: 96px;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.cardDiv {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}